.App {
  text-align: center;
  height: 100vh;
}
.container {
  width: 350px;
  display: flex;
  justify-content: center;
  place-items: center;
  border: 1px solid black;
  margin: 70px;
}

.input-container {
  font-size: 1.5em;
  width: 350px;
}